#main {
  font-family: monospace;
  font-size: 14px;
  line-height: 1.4;
  margin: 25px auto;
  max-width: 600px;
  padding: 0;
}
em {
  background: yellow;
  font-style: normal;
}
hr {
  background-color: black;
  border: 0;
  color: black;
  height: 1px;
  margin-bottom: 3em;
  width: 80%;
}
#header {
  margin-bottom: 4em;
}
#profile-img {
  border-radius: 50%;
  margin-bottom: 20px;
  height: 250px;
}
.centertext {
  text-align: center;
}
#links {
  margin-top: 1.2em;
  padding: 0;
}
#links li {
  display: inline;
  list-style-type: none;
}
#links li:before {
  content: " | ";
}
#links li:first-child:before {
  content: none;
}
.pagination {
  margin-top: 20px;
  text-align: right;
}
#post-title {
  margin: 0 auto 2em auto;
}
#post-title h3, #post-title h4 {
  margin: 0.2em auto;
}
code {
  background-color: #DCDCDC;
}
.book-box {
  margin: 2em 0;
  display: flex;
}
.book-cover {
  display: flex;
  justify-content: center;
  align-self: center;
}
.book-cover img {
  max-width: 15em;
}
.book-title h3 {
  margin-bottom: 0;
}
.book-author {
  color: grey;
}
.book-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-left: 2em;
}
.book-description {
  text-align: left;
}