{% include header.html %}

<header class="pv4 tc">
  <img class="br-100 h5 w5" alt="profile picture" src="/static/img/profile.png"></img><br />
  <div class="pa3 ph5 tc inter">
    {{ content }}
  </div>
  {% include navbar.html %}
</header>

<div>
  <span class="db mb2"><h2 class="lh-title v-mid f3 di mb2">Log</h2> <a href="/feed.xml"><i class="material-icons v-mid">rss_feed</i></a></span>
  {% for post in paginator.posts %}
    {% unless post.hidden %}
      <div>
        <span>{{ post.date | date: "%Y-%m-%d" }}</span> - 
        <span class="inter"><a class="link" href="{{ post.url }}">{{ post.title }}</a></span>
      </div>
    {% endunless %}
  {% endfor %}

  <div>
    {% if paginator.next_page %}
      <a href="{{ site.baseurl }}page{{ paginator.next_page }}">Older</a>
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a href="{{ site.baseurl }}">Newer</a>
      {% else %}
        <a href="{{ site.baseurl }}page{{ paginator.previous_page }}">Newer</a>
      {% endif %}
    {% endif %}
  </div>
</div>

{% include footer.html %}
